.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.temas {
    display: flex;
    flex-grow: 1;
}

.grupo1, .grupo2, .grupo3 {
    display: flex;
}

.levels {
    display: flex;
}